@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.imgLogo{
  background-image: url('/elon-musk.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 130px;
  border-radius: 50%;
  height: 130px;
}

.gradiend{
  background: radial-gradient(592px at 48.2% 50%,#f0f0f0 0,#a0c7fe 74.6%);
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}